body {
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #604564;
}

#calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(94, 93, 93);
    padding: 8px;
    border: 2px black solid;
    border-radius: 3px;
}

#display {
    height: 50px;
    width: 300px;
    border: 5px #0d0214 solid;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #5fb874;
    border-radius: 3px;
}

#buttons {
    display: flex;
}

#buttons button {
    margin: 1px;
    border: 2px black solid;
    font-size: 42px;
    color: black;
    background-color: #077299;
    border-radius: 3px;
}

#numbers {
    display: grid;
    grid-template-columns: repeat(3, 70px);
    grid-template-rows: repeat(3, 70px);
}

#num0 {
    grid-column: 1/3;
    grid-row: 4;
}

#operators {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#operators #clear {
    background-color: #cf3e78;
}

#operators #equals {
    background-color: #e9e37f;
}
