body {
    /* margin: 0; */
    display: flex;
    justify-content: center;
    font-family: Cambria, serif;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#display {
    height: 50px;
    width: 300px;
    border: 2px grey solid;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.buttons button {
    margin: 1px;
    border: 2px grey solid;
    font-size: 40px;
    background-color: rgb(171, 253, 253);
}